.social-proof-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 117px 165px 0 165px;
}

.decorative-bg-container,
.bg-img-top,
.bg-img-bottom {
  position: absolute;
  pointer-events: none;
}

.decorative-bg-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-img-top {
  top: 0;
  left: 0;
}

.bg-img-bottom {
  right: 0;
  bottom: 0;
}

.bg-img-top:not(:first-of-type) {
  opacity: 0;
}

.bg-img-bottom:not(:nth-of-type(2)) {
  opacity: 0;
}

.social-proof-section > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.section-header {
  width: clamp(300px, 100%, 430px);
}

.section-title {
  color: var(--very-dark-magenta);
  font-size: 55px;
  letter-spacing: -1.5px;
  line-height: 0.87;
  margin-bottom: 26px;
}

.section-description {
  font-size: 18px;
  line-height: 1.425;
}

.rating-list {
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  max-width: 540px;
  padding-top: 28px;
}

.rating-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  background-color: var(--light-grayish-magenta);
  width: clamp(300px, 100%, 445px);
  height: 56px;
  padding: 18px 32px;
  border-radius: 8px;
}

.rating-list-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.rating-list-item:not(:first-of-type) {
  align-self: center;
}

.rating-list-item:last-of-type {
  align-self: flex-end;
}

.testimonial-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  min-height: 270px;
  width: 100%;
}

.testimonial-list > li:first-of-type {
  align-self: flex-start
}

.testimonial-list > li:last-of-type {
  align-self: flex-end
}

.testimonial {
  color: hsl(0, 0%, 100%);
  background-color: var(--very-dark-magenta);
  height: 234px;
  max-width: 350px;
  padding: 40px 32px;
  border-radius: 8px;
}

.testimonial-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  margin-bottom: 26.5px;
}

.testimonial-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testifier-name {
  font-size: 16px;
}

.testifier-status {
  font-size: 16px;
  color: var(--soft-pink);
}

.testimonial-content {
  font-size: 16.5px;
  line-height: 1.4;
}