.social-proof-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 7.8rem 11.45833% 2rem 11.45833%;
}

.decorative-bg-container,
.bg-img-top,
.bg-img-bottom {
  position: absolute;
  pointer-events: none;
}

.decorative-bg-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-img-top {
  top: 0;
  left: 0;
}

.bg-img-bottom {
  right: 0;
  bottom: 0;
}

.bg-img-top:not(:first-of-type) {
  opacity: 0;
}

.bg-img-bottom:not(:nth-of-type(2)) {
  opacity: 0;
}

.social-proof-section > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4.666666666666667rem;
}

.section-header {
  width: clamp(20rem, 100%, 28.66666666666667rem);
}

.section-title {
  color: var(--very-dark-magenta);
  font-size: 3.666666666666667rem;
  letter-spacing: -0.1rem;
  line-height: 0.87;
  margin-bottom: 1.733333333333333rem;
}

.section-description {
  font-size: 1.2rem;
  line-height: 1.425;
}

.rating-list {
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 1.066666666666667rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.066666666666667rem;
  flex: 1;
  max-width: 36rem;
  padding-top: 1.866666666666667rem;
}

.rating-list-item {
  letter-spacing: 0.0333333333333333rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.133333333333333rem;
  background-color: var(--light-grayish-magenta);
  width: clamp(20rem, 100%, 29.66666666666667rem);
  height: 3.733333333333333rem;
  padding: 1.2rem 2.133333333333333rem;
  border-radius: 0.5333333333333333rem;
}

.rating-list-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5333333333333333rem;
}

.rating-list-item:first-of-type {
  align-self: flex-start;
}

.rating-list-item:last-of-type {
  align-self: flex-end;
}

.testimonial-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.066666666666667rem;
  list-style-type: none;
  min-height: 17.73333333333333rem;
  width: 100%;
}

.testimonial-list > li:first-of-type {
  align-self: flex-start
}

.testimonial-list > li:last-of-type {
  align-self: flex-end
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.766666666666667rem;
  color: hsl(0, 0%, 100%);
  background-color: var(--very-dark-magenta);
  height: 15.6rem;
  max-width: 23.33333333333333rem;
  padding: 0 2.133333333333333rem;
  border-radius: 0.5333333333333333rem;
}

.testimonial-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.533333333333333rem;
}

.testimonial-header img {
  width: 2.666666666666667rem;
  height: 2.666666666666667rem;
  border-radius: 50%;
}

.testifier-name,
.testifier-status {
  font-size: 1.066666666666667rem;
  height: 19.2px;
}

.testifier-status {
  color: var(--soft-pink);
}

.testimonial-content {
  font-size: 1.09rem;
  font-weight: 500;
  line-height: 1.325;
}

@media (max-width: 1240px) {
  .social-proof-section > header {
    flex-direction: column;
    margin-bottom: 2.866666666666667rem;
  }

  .section-header {
    width: 87%;
    text-align: center;
    margin: 0 auto;
  }

  .rating-list {
    gap: 1.066666666666667rem;
    height: 5.213333333333333rem;
    max-width: none;
    padding-top: 2.466666666666667rem;
  }

  .rating-list-item {
    flex-direction: column;
    gap: 1rem;
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .rating-list-item:first-of-type {
    align-self: center;
  }
  
  .rating-list-item:last-of-type {
    align-self: center;
  }

  .testimonial-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .social-proof-section {
    padding: 5.433333333333333rem 0 6.6rem 0;
  }

  .social-proof-section > *:not(.decorative-bg-container) {
    width: 87%;
  }

  .bg-img-top:not(:first-of-type) {
    opacity: 1;
  }
  
  .bg-img-bottom:not(:nth-of-type(2)) {
    opacity: 1;
  }

  .bg-img-top:first-of-type,
  .bg-img-bottom:nth-of-type(2) {
    display: none;
  }

  .testimonial-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonial-list > li {
    width: 100%;
  }

  .testimonial {
    height: auto;
    max-width: none;
    padding: 2.666666666666667rem 2.133333333333333rem 2.133333333333333rem 2.666666666666667rem;
  }
}

@media (max-width: 530px) {
  .section-title {
    font-size: 2.666666666666667rem;
    margin-bottom: 0.9333333333333333rem;
  }
}